**Analisando o preço de combustivel no Brasil**


```
# Etapa de Extração dos dados e limpeza.
```

In [1]:
#Importando biblioteca pandas para leitura dos dados
import pandas as pd

In [2]:
#Colocando os dados em uma variavel ultilizando pandas
df = pd.read_csv("/content/drive/MyDrive/microdados.csv")

In [3]:
#Lendo arquivo
df.head(4)

    ano sigla_uf  id_municipio  ... unidade_medida preco_compra preco_venda
0  2004       MG       3170701  ...       R$/litro       0.9367       1.280
1  2004       SP       3554102  ...       R$/litro       1.7020       1.899
2  2004       SP       3554102  ...       R$/litro          NaN       1.399
3  2004       SP       3554102  ...       R$/litro       0.5878       0.799

[4 rows x 14 columns]

In [4]:
#Observando os dados
df.describe()

                ano  id_municipio  preco_compra   preco_venda
count  2.651482e+07  2.651482e+07  1.209572e+07  2.651482e+07
mean   2.011490e+03  3.405656e+06  6.247772e+00  1.105478e+01
std    4.867288e+00  8.956499e+05  1.102337e+01  1.805834e+01
min    2.004000e+03  1.100015e+06  3.257000e-01  5.900000e-01
25%    2.007000e+03  3.103504e+06  1.681600e+00  2.000000e+00
50%    2.011000e+03  3.508504e+06  2.136000e+00  2.670000e+00
75%    2.015000e+03  4.104808e+06  2.732000e+00  4.149000e+00
max    2.021000e+03  5.300108e+06  9.450000e+01  1.350000e+02

In [5]:
#Verificando novamente dados duplicados 
df.duplicated().sum()

0

In [6]:
#Excluindo colunas que não serão ultilizadas na análise
df.drop(columns=['id_municipio',	'bairro_revenda',	'cep_revenda','endereco_revenda','cnpj_revenda','nome_estabelecimento','data_coleta','unidade_medida'],inplace=True)
df

           ano sigla_uf  ... preco_compra preco_venda
0         2004       MG  ...       0.9367       1.280
1         2004       SP  ...       1.7020       1.899
2         2004       SP  ...          NaN       1.399
3         2004       SP  ...       0.5878       0.799
4         2004       SP  ...       1.6218       1.899
...        ...      ...  ...          ...         ...
26514819  2021       GO  ...          NaN       7.049
26514820  2021       GO  ...          NaN       6.949
26514821  2021       GO  ...          NaN       4.899
26514822  2021       GO  ...          NaN     105.000
26514823  2021       MS  ...          NaN      88.000

[26514824 rows x 6 columns]

In [10]:
#Verificando se possui dados nulos
df.isnull().sum()

ano                        0
sigla_uf                   0
bandeira_revenda           1
produto                    0
preco_compra        14419107
preco_venda                1
dtype: int64

**Aplicando Limpeza e transformação dos dados**

In [11]:
#importando biblioteca matematica 
import math

In [12]:
#Calculando a media do preço venda para preencher nos dados ausentes
media = df["preco_compra"]. mean()
#Arredondando valor da media 
media2 = round(media, 4)
media2

6.2478

In [13]:
#Substituindo valor nulo no preço compra pela media calculada
df.update(df["preco_compra"].fillna(media2))

In [14]:
#Vericando valores nulos novamente
df.isnull().sum()

ano                 0
sigla_uf            0
bandeira_revenda    1
produto             0
preco_compra        0
preco_venda         1
dtype: int64

In [15]:
#Removendo valores nulos das colunas bandeira_revenda,preco_venda 
#Como esses valores so possuí uma unica linha com valores nulos, nao afetará a analise e a integridade dos dados
df.dropna(inplace=True)

In [16]:
#Verificando novamente dados ausentes 
df.isnull().sum()

ano                 0
sigla_uf            0
bandeira_revenda    0
produto             0
preco_compra        0
preco_venda         0
dtype: int64

In [17]:
#Selecionado apenas as linhas que serão ultilizadas na analise. 
values=[2019, 2020, 2021]
df_analise = df[df.ano.isin(values)]

In [18]:
#Lendo novo dataframe
df_analise

           ano sigla_uf  ... preco_compra preco_venda
23689632  2019       SP  ...       6.2478       3.559
23689633  2019       BA  ...       2.9535       3.697
23689634  2019       BA  ...       3.4106       3.869
23689635  2019       BA  ...       6.2478       4.790
23689636  2019       BA  ...       6.2478       3.600
...        ...      ...  ...          ...         ...
26514819  2021       GO  ...       6.2478       7.049
26514820  2021       GO  ...       6.2478       6.949
26514821  2021       GO  ...       6.2478       4.899
26514822  2021       GO  ...       6.2478     105.000
26514823  2021       MS  ...       6.2478      88.000

[2825192 rows x 6 columns]

In [19]:
#Lendo os dados novamente 
df_analise["ano"].unique()

array([2019, 2020, 2021])

**Salvando o novo dataset dos dados tratados**

In [20]:
#Salvando o novo dataset
df_analise.to_csv('Combustivel3.csv');